/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #11235A;
  }
  
  header {
    background-color: #492E87;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  .courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .course-card {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
  }
  
  .course-card h2 {
    color: #912BBC;
  }
  
  .course-card p {
    margin-top: 10px;
  }
  
  .course-card .btn {
    display: inline-block;
    background-color: #912BBC;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .course-card .btn:hover {
    background-color: #6E1E87;
  }
  